@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width:calc(100% - 50px);
}
/* Add a color on mouse-over */
#breadcrumb li a:hover,
#breadcrumb li a:focus {
  outline: none;
  color: #FFA500;
  text-decoration: underline;
}
nav h1 a:hover,
nav h1 a:focus {
  outline: none;
  color: #FFA500;  
}
#footer a strong:hover,
nav a strong:focus {
  outline: none;
  color: #3397DB;
  
}
.filter-options select:hover,
.filter-options select:focus{
  background-color: white;
  border: 1px solid #FFA500;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 3px 1px -2px rgba(0, 0, 0, .2),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  outline: none;
  text-decoration: none;
  background-color: #3397DB;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  
  background-color: #252831;
}
nav h1 {
  margin: auto;
  padding: 25px;
  text-align:center;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #025092;
    text-decoration: none;
}
/* ====================== Map ====================== */
#map-container {
  height: 350px;
  width: 100%;
  background-color: #ccc;
}
#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  height: 70px;
  background-color: #1A5B8F;
  align-items: center;
  padding: 5px 5px;
}
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  max-width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  width:calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 17px 25px;
  text-align: left;
  padding: 0 17px 25px;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list li h3 {
  margin: 11px 0px 20px;

}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #8A4600;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}
#maincontent {
  display: flex;
  flex-wrap: wrap;
}
.scip-link{
  position: absolute;
  top:-100px;
  left: -100px;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.scip-link:focus{
  top:0;
}
.inside #map-container {
  height: 350px;
  padding-top: 131px;
  width: 100%;
  background-color: #ccc;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  order: 0;
}
.inside #footer {
  bottom: 0;
}
#restaurant-name {
  color: #6B3B00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-radius: 30px 0px 0px 0px;
  
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 20px 30px;
  width: calc(100% - 40px);
  max-width: 660px;
  margin: auto;
}
#restaurant-container {
  order:1;
}
#reviews-container {
  order:2;
}
#reviews-container table {
  width: 100%;
  display: block;
  font-size: 24px;
}
table td {
  font-size: 16px;
}
#reviews-container h2 {
  color: #6B3B00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 30px 0px 0px 0px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0px 20px;
  position: relative;
  width: 100%;
  max-height: 350px;
}

#reviews-list li div {
  background-color: #444;
  padding: 8px 30px 10px;
  display: flex;
  flex-wrap: wrap;
}
#reviews-list li div p{
  color: #fff;  
  width: 50%;
  padding-top: 13px;
}
#reviews-list li div .date{
  color: #fff;  
  width: 50%;
  text-align: right;
}
#reviews-list li div .name{
  color: #fff;  
  width: 50%;
  font-size: 20px;
  text-align: left;
  padding-top: 21px;
}
#reviews-list li .rating {
  background-color: #8A4600;
  border-bottom: 3px solid #eee;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#reviews-list li > p {
  margin: 20px 30px 0px;  
}
#restaurant-hours td {
  color: #666;
}
@media only screen and (max-width: 300px)  {
  nav h1 a {
    font-size: 13pt;
    letter-spacing: 5px;
  }
  .inside #map-container {
    height: 252px;
  }
  #restaurant-name {
    font-size: 17pt;
  }
  #reviews-container h2 {
    font-size: 17pt;
 }
}
@media only screen and (max-width: 320px)  {
  .filter-options {
    height: 112px;
  }
  .filter-options h2 {
    font-size: 1.1rem; 
    margin: 0 5px;
  }
  .filter-options select {
    margin: 5px;
  }
  #restaurants-list .restaurant-img {
    
    min-height: 200px;
  }
}
@media only screen and (max-width: 400px)  {
  
  .filter-options select {
    padding: 0;  
  }
  #restaurants-list li {
    margin: 0 0 14px;
    min-height: 380px;
    padding: 0 ;
    width: 100%;
  }
  #restaurants-list li h1 {
    font-size: 17pt;
    margin: 20px 0 10px;
  }
  #restaurants-list li h3 {
    margin: 12px 15px 14px;
  }
  #restaurants-list p {
    margin: 12px 15px 3px;
  }
  #restaurants-list li a {
    margin: 12px 15px 14px;
  }
}
@media only screen and (max-width: 500px)  {
  #map-container {
    height: 200px;
  }
  .filter-options h2 {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 870px) {
  #restaurant-container, #reviews-container {
    border-top: none;
    width: calc((100% - 80px) / 2);
    margin: inherit;
  }
}
@media only screen and (min-width: 700px) {
  #restaurants-list li {
    margin: 5px;
    min-height: 380px;
    padding: 0 0 25px;
    width: calc((100% - 28px) / 2);

  }
  #restaurants-list li h1 {
    font-size: 17pt;
    margin: 20px 0 10px;
  }
  #restaurants-list li h3 {
    margin: 12px 15px 14px;
  }
  #restaurants-list p {
    margin: 12px 15px 3px;
  }
  #restaurants-list li a {
    margin: 12px 15px 14px;
  }
  
}
@media only screen and (min-width: 800px){
  #restaurants-list li {
    padding: 0 17px 25px;
    width: calc((100% - 96px) / 2);
    
  }
}
@media only screen and (min-width: 950px) {
  #restaurants-list li {
    padding: 0;
    width: calc((100% - 42px) / 3);
    
  }
}
@media only screen and (min-width: 1200px) {
  #restaurants-list li {
    padding: 0 17px 25px;
    width: calc((100% - 144px) / 3);
    
  }
}
